<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sucesso - Loja IT</title>
    <style>
        .container {
            height: 100vh;
            width:100%;
        }
        .flex { display: flex; }
        .horizontal { flex-direction: row; }
        .vertical { flex-direction: column; }
        .flex-1 { flex: 1; }
        .text-center { text-align: center; }
        .btn-cta {
            color: #fefefe;
            background-color: #ff1100;
            font-size: 1rem;
            border-radius: 10px;
            border: 0;
            padding: 10px 15px;
        }
        .flex-center {
            justify-content: center;
            align-items: center;
        }
        .img-main {
            width: 90%;
            max-width: 300px;
        }
    </style>
</head>
<body>
    <div class="container flex vertical flex-center">

        <h2 class="text-center">Pagamento realizado com sucesso</h2>

        <br />
        <br />

        <p>Seu pedido (ID: <%= payment.id %> ) teve o pagamento concluído com sucesso.</p>
        <p>Mais detalhes sobre sua compra foram enviados por email.</p>

        <br />

        <h3>Muito obrigado por comprar conosco</h3>
    </div>
</body>
</html>